/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Rowdies:wght@300;400;700&display=swap");

/*Root Variables*/
:root{
    --mainText: rgb(7, 89, 95);
    --mainFont: "Rowdies", sans-serif;
    --h2-size: 36px;
    --p-size: 16px;
}

/*Navbar Styles */
.blue-navbar{
    background-color:white !important;
}

.navbar-brand {
    color: var(--mainText) !important;
    font-family: var(--mainFont);
}

.navbar-nav .nav-link {
    color: var(--mainText) !important;
    font-family: var(--mainFont); 
    font-weight: 200;
    border-radius: 15px;
    border: 1px solid white;
    text-align: center;
}

.navbar-nav .nav-link:hover {
    background-color: rgb(7, 89, 95);
    color: white !important; 

}
.navbar-toggler {
    color: rgb(7, 89, 95) !important;
}

/*Body Styles */
html, body{
    padding: 0;
    margin: 0;
    background-color: rgb(52, 214, 181)
}

/*Heading Styles */
h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: var(--mainFont)
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

/* Text Styles */
p, li, span, label, input, textarea{
    color: var(--mainText);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #17a2b8   /*link*/
}

/*Home Container*/
.home-container{
    width: 65%;
    height: 400px;
    margin: 0px auto;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white; 
    align-items: center;
}

@media(max-width: 768px) {
    .home-container{
        flex-direction: column;
        align-items: center;
    }
}
.home-description{
    flex: 1;
    padding-right: 20px;
}
.home-description h2 {
    font-family: var(--mainFont);
    color: var(--mainText);
    font-size: var(--h2-size);
    margin: 0;
}

.home-description p {
    font-family: var(--mainFont);
    color: var(--mainText);
    font-size: var(--p-size);
    margin: 0;
    
}

.images {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}
.images img {
    max-width: 100%; 
    height: auto;

}

/* project container */
.project-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
}

.project-description {
    flex: 1;
    padding:20px;
}

.slideshow-container {
    flex: 1;
    position: relative;
    overflow: hidden;

}
.slideshow-inner {
    display: flex;
    transition: transform 0.5s ease;
}
.slideshow-img {
    width: 100%;
    flex-shrink: 0;
}

/* Navigation Buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
    color: #ffff;
    z-index: 2;

}
.next {
    right: 0;
}

/* Responsive styles */
@media (max-width: 600px) {
    .project-container {
        flex-direction:column;
    }
}

/* contact container */
.contact-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
}

.left-section {
    flex: 1;
    padding-right: 20px;
}

.right-section {
    flex: 1;
    padding-left: 20px;
}

.section-content {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}
.contact-form{
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-control:focus {
    outline: none;
    border-color: #007bff;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.btn-submit:hover{
    background-color:#0056b3;
}
